@import "../../variables.scss";

.edit-container{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100vw;
 min-height: 100vh;
 background-color: $black-color;
 section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    background: $gray-color;
 }
}